:root{
  --footerBg:#002339;
  --footerColor:#eee;
}
.footer{
  background:var(--footerBg);
  color:var(--footerColor);
  display:flex;
  flex-direction:column;
}

.textAndLogoContainer{
  display:flex;
  flex-direction:column;
  margin:5rem auto 1.5rem auto;
}
.footer-contact-box{
  display:flex;
}
.footer-text-container{
  border-right: solid .15rem #fff;
  text-align: center;


}
.footer-p1{
  padding: 1rem;
  font-size:1.3rem
}
.footer-p2{
  padding: 1rem;
  font-size:.8rem
}
.footer-logos{
  display:flex;
  flex-direction: column;
}
.footerImage{
  width:4rem;
  float:right;
  margin-left:.5rem;
  
}
.footer-contact-logos{
  margin:2rem auto;
}
.contact-logo{
  width:2.25rem;
  margin:auto .75rem;
  vertical-align:middle;
  transition: transform .2s;

}

.contact-logo:hover{
  transform: scale(1.1);
  transition: transform .2s;
}

.telegramLogo:hover{
}
.instagramLogo:hover{

}
.twitterLogo:hover{

}
.linkedinLogo:hover{

}
.map{
  margin:2rem 10%
}

.bottom-contact{
  font-size:1.2rem;
  margin-bottom:3rem;
}
.poshtibani{
  font-size: 1.3rem;
  padding-bottom:.7rem;
  border-bottom: solid .15rem #fff;
  margin: auto 30% 1rem 30%;  
  text-align: center;

}
.phoneLogo{
  cursor:pointer;
  width:1.7rem
}
.bottom-contact-p{
  padding:.5rem;
  text-align: center;
}
.theUpperContainer{
  display:flex;
}


@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 768px) {
  .theUpperContainer{
    flex-direction:column-reverse;
  }
  .map{
    margin:2rem auto
  }
  .poshtibani{
  margin: auto 10% 1rem 10%;  
  }
}