*,
*:before,
*:after {
	box-sizing: border-box;
}
:root{
  font-family: "Vazir", sans-serif!important;
  --bg:#DFDEE7;
  --titleColor:#fff;
  --btnBg:#0087C2;
  --btnBgHover:#28a5db;
  --btnColor:#fff;
  --boxShadow:rgba(0, 0, 0, 0.116);
  --articleBg:#F7FBFF;
  --articleLittleBg:#fff;
  --articleBorder:#363377;
  --articleColor:#41417C;
  --qnaColor:#413DA3;
  /* nav */
    --navBg:#004f84;
    --navHover:#0076A8;
    --navColor:#ffffff;
    --scrollColor:#a7a7a755;
}
body{
  margin: 0;
  background:var(--bg);
  font-size: 62.5%;
  font-family: "Vazir", sans-serif!important;
  overflow: overlay;
  
}

.boxShadow{
  box-shadow: 0 10px 20px var(--boxShadow), 0 6px 6px var(--boxShadow);
}

::-webkit-scrollbar {
  width: 8px;
  height: 7px;
  cursor: auto;
}

::-webkit-scrollbar-track {
  background-color: #00000000;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: var(--scrollColor);
}